body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--color-black);
}

a {
	color: var(--color-black);
	text-decoration: none;
}
a:hover {
	opacity: 0.7;
}

li {
	text-decoration: none;
}
:root {
  --color-white: #ffffff;
  --color-black: #1c1c1c;
}