body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--color-orange);
}

a {
	color: var(--color-orange);
	text-decoration: none;
}
a:hover {
	color: #000;
}

li {
	text-decoration: none;
}
:root {
  --color-white: #ffffff;
  --color-orange: #fc4103;
}